@charset "utf-8";

.product_list1{
      width:980px;
     overflow:hidden;
}
/* sliderbox */
a.abtn{display:block;height:154px;width:17px;overflow:hidden;background:url(/static/zxy/images/arrow3.png) no-repeat 0px 50%;}
a.aleft{float:left;}
a.agrayleft{cursor:default;background-position:-34px 50%;}
a.aright{float:right;background-position:-17px 50%;}
a.agrayright{cursor:default;background-position:-51px 50%;}
.product_list1 .imglist_w{width:930px;height:178px;overflow:hidden;float:left;position:relative;/*必要元素*/}
.product_list1 .imglist_w ul{width:20000px;position:absolute;left:0px;top:0px;}
.product_list1 .imglist_w li{width:170px;float:left;padding:0 10px;}
.product_list1 .imglist_w li img{padding:2px;border:solid 1px #ddd; width:170px; height:154px;}
.product_list1 .imglist_w li a{color:#666;text-decoration:none;}
.product_list1 .imglist_w li a:hover img{filter:alpha(opacity=86);-moz-opacity:0.86;opacity:0.86;}
.product_list1 .imglist_w li p{height:24px;line-height:24px;overflow:hidden; text-align:center; width:150px;}

.product_list{
width:385px;
overflow:hidden;
}
/* sliderbox */
a.abtn{display:block;height:120px;width:17px;overflow:hidden;background:url(/static/zxy/images/arrow3.png) no-repeat 0px 50%;}
a.aleft{float:left;}
a.agrayleft{cursor:default;background-position:-34px 50%;}
a.aright{float:right;background-position:-17px 50%;}
a.agrayright{cursor:default;background-position:-51px 50%;}
.product_list .imglist_w{width:350px;height:178px;overflow:hidden;float:left;position:relative;/*必要元素*/}
.product_list .imglist_w ul{width:20000px;position:absolute;left:0px;top:0px;}
.product_list .imglist_w li{width:171px;float:left;padding:0 10px;}
.product_list .imglist_w li img{padding:2px;border:solid 1px #ddd; width:171px; height:120px;}
.product_list .imglist_w li a{color:#666;text-decoration:none;}
.product_list .imglist_w li a:hover img{filter:alpha(opacity=86);-moz-opacity:0.86;opacity:0.86;}
.product_list .imglist_w li p{height:24px;line-height:24px;overflow:hidden; text-align:center; width:150px;}
