<!DOCTYPE html>
<html xmlns:layout="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.w3.org/1999/xhtml"
      layout:decorator="templates/webModel"><!--     layout:decorator="templates/webModel"-->
<head>
    <title>鑫华药材站内蒙古药材_赤峰中药材_赤峰中药材价格_赤峰中药材批发/采购_中药材市场_鑫华药材站</title>
    <meta name="keywords"
          content="鑫华药材站,中药材市场,赤峰中药材,赤峰中药材批发,赤峰中药材供应,赤峰中药材价格,中药材厂家,中药材网站,中药材,中药材公司,牛营子,桔梗片,药材出售,药材收购,安国,药材市场地址"/>
    <meta name="description" content="鑫华药材站,牛营子是中药材基地,药材种类齐全：桔梗、沙参、板蓝根、田草、牛膝、黄芪、党参、黄芩、铁芪、桔梗籽、沙参籽、北沙参等,牛营子有北方药材基地的称号"/>


    <script type="text/javascript" src="/app/js/comment-reply.js"></script>

</head>
<body>
<div th:fragment="content" th:remove="tag">
    <div id="primary" class="inner group">
        <div id="slogan" class="inner">
            <h1>Tel:{{comp.phone}}</h1>
                 <h3>   {{comp.fax}}</h3>
        </div>
        <div class="layout-sidebar-no">
            <!-- START CONTENT -->
            <div id="content" role="main" class="group wrapper-content">
                <div id="post-7" class="post-7 page type-page status-publish hentry group">
                    <div class="boxed-content group">
                        <div class="box-title group">
                            <h3>热销药材</h3>
                            <p>现有大量药材</p>
                        </div>
                        <div class="box-content group" id="jyc">
                            <ul class="products">
                                <li v-for="(medical, index)  in medicals"
                                    :class="( index + 1) % 4 == 1 ? 'product border shadow first last-row':(index+1)%4 == 0 ? 'product border shadow last last-row':'product border shadow last-row'">
                                    <a href='#'>
                                        <div class='thumbnail'>
                                            <img width="150" height="150" :src="'/zxy/'+medical.url"
                                                 class="attachment-shop_small wp-post-image" :alt="medical.name"
                                                 :title="medical.shotintro"/>
                                            <div class='thumb-shadow'></div>
                                        </div>
                                        <span class='price'> <ins>{{medical.name}}</ins></span>
                                    </a>
                                </li>
                            </ul>
                            <div class="clear"></div>
                        </div>
                    </div>
                    <div class="boxed-content group">
                        <div class="box-title group">
                            <h3>热销种子</h3>
                            <p>欢迎电联</p>
                        </div>
                        <div class="box-content group" id="jzz">
                            <ul class="products">
                                <li v-for="(seed ,index) in seeds"
                                    :class="(index+1)%4 == 1 ? 'product border shadow first last-row': (index+1)%4 == 0 ? 'product border shadow last last-row':'product border shadow last-row'">
                                    <a href='#'>
                                        <div class='thumbnail'>
                                            <img width="150" height="150" :src="'/zxy/'+seed.url"
                                                 class="attachment-shop_small wp-post-image" :alt="seed.name"
                                                 :title="seed.shotintro"/>
                                            <div class='thumb-shadow'></div>
                                        </div>
                                        <span class='price'> <ins>{{seed.name}}</ins></span>
                                    </a>
                                </li>
                            </ul>
                            <div class="clear"></div>
                        </div>
                    </div>

                </div>
            </div>
            <!-- END CONTENT -->
        </div>
        <!-- START EXTRA CONTENT -->
        <!-- END EXTRA CONTENT -->
    </div>
    <script type="text/javascript" src="/js/index.js"></script>

</div>
</body>
</html>